.App {
  background-image: linear-gradient(to right, rgb(196,233,253), rgb(165,192,251));
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {

}

